* {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color: #dadbd5;
  text-align: center;
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: #683339;
    color: #dadbd5;
  }

  body { background-color: #0c4153;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0px 
  }

  nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
    list-style: none;
  }

  li {background-color: #e17534;}
  
  nav a {
    color: #dadbd5;
    font-weight: bold;
    text-decoration: none;
  }

  li {border: 1px solid #0c4153 ;
  padding: 10px;}
    
  
  li a:hover:not(.active) {
  color: #0c4153;
    
  }
  
  .myname {padding-top: 10px;
    font-size: larger;
  }

  .images {
    justify-content: center;
    padding-top: 100px;
    flex: auto;
  }

p {
  text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 420px
  }

  .footer {background-color: #683339;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;;
    height: 40px;
    border: 1px solid #e7e7e7;
  }

  div {display: flex;
  justify-content: space-around;
  align-items: center;
  }

@media screen and (max-width: 768px) {
  h1,
  article,
  ul,
  img,
  div {
    flex-direction: column;}}